.addcal{
width:100%;
border-collapse:separate;
border-spacing:1px;
text-align:center;
background:#FFFFFF
}
.addcal .add{
cursor:pointer
}
.addcal td,.addcal th{
height:20px;
background-color:#F8FAFB;
border:1px solid #F6F8FA;
vertical-align:middle
}
.addcal th{
background-color:#F0F3F9;
border-color:#EDF1F8
}
.addcal .weekn{
background-color:#F1F0F9;
border-color:#EDF1F8;
font-weight:bold;
color:#2666B9
}
.addcal .weeke{
color:#FF0000;
background:#FDFBFB;
border-color:#FBF8F8
}
.addcal th.weeke{
color:#FF0000;
background:#F9F1F0;
border-color:#F8EEED
}
.addcal .sel{
font-weight:bold;
font-style:italic;
border-color:#B7DCFF;
background-color:#FCFDFD
}
.addcal .cur{
background-color:#FCFDFD;
font-weight:bold;
color:#2666B9
}
.addcal .add.hover{
border-color:#B7DCFF;
border-style:dashed
}
.addcal .gray{
color:#757575;
background-color:#F4F7F9;
font-size:80%;
font-style:italic
}
.addcal .gray.hover{
border-color:#D4E0EA
}
.addcal .gray.weeke{
color:#FFB6C1
}
.addcal .weeke.sel{
border-color:#FFB7B7
}
.addcal .weeke.hover{
border-color:#FFB7B7
}
.addcal .gray.weeke.hover{
border-color:#FFDFE4
}
.addcal .dis,.addcal .gray.dis{
text-decoration:line-through;
cursor:default;
font-style:italic;
color:#757575
}
.addcal .dis.sel{
border-color:#DBDBDB
}
.addcalnav table{
background-color:#FBFCFD;
width:100%
}
.addcalnav th,.addcalnav td{
background:transparent;
border:0 none
}
.addcalnav th{
width:100%
}
.addcalnav .lmonth,.addcalnav .lyear,.addcalnav .nmonth,.addcalnav .nyear{
padding:10px
}
.addcalnav .lmonth{
background:transparent url(images/control_replay.gif) no-repeat center
}
.addcalnav .lmonth.hover{
background-image:url(images/control_replay_blue.gif)
}
.addcalnav .lyear{
background:transparent url(images/control_rewind.gif) no-repeat center
}
.addcalnav .lyear.hover{
background-image:url(images/control_rewind_blue.gif)
}
.addcalnav .nmonth{
background:transparent url(images/control_play.gif) no-repeat center
}
.addcalnav .nmonth.hover{
background-image:url(images/control_play_blue.gif)
}
.addcalnav .nyear{
background:transparent url(images/control_fastforward.gif) no-repeat center
}
.addcalnav .nyear.hover{
background-image:url(images/control_fastforward_blue.gif)
}
