@CHARSET "UTF-8";

#pay_legend
{
	margin-top: 10px;
	width: 200px;
	margin-bottom: 10px;
	font-size: 10px;		
}
#pay_legend_tbl
{
	width:150px;
	border-top: 2px solid;
	border-bottom: 2px solid;
}
.pay_legend_caption
{
	width:100px;
}
#pay_legend .notpay
{
	background-image: url('images/bg_not_pay.png');
	background-position: top;
	background-repeat: repeat-y;
}
#pay_legend .yespay
{
	background-image: url('images/bg_yes_pay.png');
	background-position: top;
	background-repeat: repeat-y;
}
.payonday
{
	background-image: url('images/pd.png');
	background-position: center;
	background-repeat: no-repeat;
}
.payment_table .apart_column {
	/*cursor: pointer;*/
}
.payment_table
{
	width:100%;
}
.payment_table caption {
	font-size: 14px;
	font-weight: bold;
}
.payment_table tr
{
	height: 30px;
}
.payment_table th {
	margin: 0;
	padding: 0;
	border-color: #000000;
	border-left-style: solid;
	border-right-style: solid;
	cursor: pointer;
}
.ahead
{
	background-color: #E7ECFD;
	text-align: center;
}
.apart_column
{
	cursor: pointer;
}
.payment_table th,td {
	border-color: #B7CAF6;
	border-width: 1px;
	border-bottom-style: dotted;
	border-top-style: dotted;
}

.payment_table .notpay {
	background-image: url('images/bg_not_pay.png');
	background-position: top;
	background-repeat: repeat-y;
	width: 19px;
	height: 19px;
	margin: 0;
	padding: 0;
	border-left: 1px;
	border-left-color: #ffffff;
	border-left-style: solid;
}

.payment_table .yespay {
	background-image: url('images/bg_yes_pay.png');
	background-position: top;
	background-repeat: repeat-y;
	width: 19px;
	height: 19px;
	margin: 0;
	padding: 0;
	border-left: 1px;
	border-left-color: #ffffff;
	border-left-style: solid;
}

.payment_table .month_name {
	width: 150px;
	height: 19px;
	margin: 0;
	padding: 0;
	border-left-style: none;
}
