@CHARSET "UTF-8";
.month_cal
{
	width: 300px;
}
.month_cal_from, .month_cal_to
{
	float:left;
}
#ui-datepicker-div
{
	font-size: 14px;
}
.btncontainer td
{
	padding-top: 3px;
}
.helperstrike
{
	position:relative;
	font-size: 10px;
}