@CHARSET "UTF-8";
#sttabs, #comuntabs, #cdialogbox, #atabs, #addcomunpay-form
{
	font-size: 12px;
}
.parmcontainer1 td
{
	padding-top: 3px;
}
#ui-datepicker-div
{
	font-size: 14px;
}
.paydayimage
{
	width:15px;
}
.ui-jqgrid-btable, .ui-pg-table
{
	border-top-style: none;
	border-top-width: 0;
	border-bottom-style: none;
	border-bottom-width: 0;
}
